body{
    margin-top: 100px;
    background: #1a1a1a;
    color: #82e664;
}
h1{
    text-align: center;
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}
ul li{
    border: 1px solid gray;
    list-style: none;
    padding: 5px;
}
.exe {
    color:red;
}
.hide{
    display: none;
}
li:hover .hide{
    display: block;
    color:red;
}
input{
    border:none;
    width: 100%;

}
input, textarea{
    background-color: #1a1a1a;
    color:#82e664;
}
.noTask{
    text-align: center;
}
.total{
    text-align: end;
}